<!-- Modal -->
<div class="modal fade" id="Modal-scaja" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><strong><center>Caja</center></strong></h2>
            </div>
            <div class="modal-body">
                <h4>Saldo Anterior</h4>
                <p class="sa"></p>
                <h4>Saldo Disponible</h4>
                <p class="sd"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary mod">Modificar Caja</button>
                <button class="btn btn-info informe">Informe de Caja</button>
                <button class="btn btn-primary" data-dismiss="modal">Listo</button>
            </div>
        </div>
    </div>
</div>